html {
	margin: 0;
	padding: 0;
	}
/*normalize*/

body {
    background-color: #7e446c;
    font: verdana, sans-serif;
}

h1 {
    text-align: center;
    

}
h2{
    text-align: center;
}

p { 
	margin-top: 0; 
	text-align: justify;
	}

a:link { 
        font-weight: bold; 
        text-decoration: none; 
        color: #B7A5DF;
        }

a:visited { 
        font-weight: bold; 
        text-decoration: none; 
        color: #D4CDDC;
        }

a:hover, a:focus, a:active { 
        text-decoration: underline; 
        color: #9d90b8;
        }

abbr {
        border-bottom: none;
        }


.page-wrapper {
   
        position: relative;
        padding: 0 175px 0 110px;
        margin: 0;
        
        }



.summary {
            clear: both; 
            margin: 20px 20px 20px 10px; 
            width: 200px; 
            float: left;
        }

header{
    background: url(cssimg.jpg) no-repeat top left;
    padding: 120px;
    height: 90px;
}



