html {
	margin: 0;
	padding: 0;
	}
/*normalize*/

body {
        background-color: #da79bb;
        font: verdana, sans-serif;
        line-height: 1.88889;
        margin: 0; 
        padding: 0;
	
        }       

h1 {
        text-align: center;
        
        
    

}

h2 {
        text-align: center;
        
        }

h3 {
        letter-spacing: 1px; 
	margin-bottom: 0;
        }

p { 
	margin-top: 0; 
	text-align: justify;
        
	}


a:link { 
        font-weight: bold; 
        text-decoration: none; 
        color: #cab6f7;
        }

a:visited { 
        font-weight: bold; 
        text-decoration: none; 
        color: #D4CDDC;
        }

a:hover, a:focus, a:active { 
        text-decoration: underline; 
        color: #b5a6d3;
        }

abbr {
        border-bottom: none;
        }


.page-wrapper {
   
        position: relative;
        padding: 0 175px 0 110px;
        margin: 0;
        
        
        }



.summary {
            clear: both; 
            border-radius: 10px;
            margin: 20px 20px 20px 10px; 
            width: 210px; 
            padding: 20px;
            float: left;
            background-color: #fcf8d2;
        }

        
header{
            display: block;
            background: url(cssimg.jpg) no-repeat right top;
            border-radius: 10px;
            opacity: 0.7;
            padding: 120px;
            height: 100px;
            width: 500px;
        }

.intro { 
                min-width: 470px;
                width: 100%;
 }

 .sidebar {
        margin-top: 15em;
        padding-top: 1em;
        padding: 20px;
        background: #fa7000da;
        border-radius: 10px;
        overflow: hidden;
      }

      .intro .preamble p:last-child {
        position: absolute;
        z-index: 2;
        color: #ffffff;
        background: rgba(38, 191, 246, 0.8);
        background-image: url(cs);
        border-radius: 10px;
        width: 19%;
        top: -9em;
        right: 0;
        margin-right: 0;
        padding: 10em 1em 20em 1em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

.main{
        background-color: #d66eb5;
        padding: 3px;
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 20px;
}

